@mixin button ($hight, $width) {
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: $color;
    height: $hight;
    width: $width;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
    margin: 20px;
    cursor: pointer;
}

button:focus {
    outline: none;
}